body {
    font-family: 'Oxanium', cursive;
    background-image: url(../images/texture.jpeg);
    background-repeat: repeat;
}

.main-game {
    padding: 20px;
}

#titleBox {
    height: 50px;
    width: 350px;
    background-color: lightgrey;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#title {
    font-size: 30px;
    padding-top: 15px;
}

#infoBox {
    height: 200px;
    width: 500px;
    background-color: lightpink;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.score-boxes {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enemy-health {
    height: 100px;
    width: 225px;
    background-color: lightskyblue;
    margin-right: 15px;
    text-align: center;
}

#score-card {
    height: 100px;
    width: 75px;
    background-color: lightslategray;
    text-align: center;
}