body {
  font-family: "Oxanium", cursive;
  background-image: url(../images/texture.jpeg);
  background-repeat: repeat;
}

img {
  height: 75px;
  width: 75px;
  align-items: center;
  justify-content: center;
}

.main-game {
  padding: 20px;
}

#titleBox {
  height: 50px;
  width: 350px;
  background-color: lightgrey;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

#title {
  font-size: 30px;
  padding-top: 15px;
}

#infoBox {
  height: 150px;
  width: 500px;
  background-color: lightpink;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.score-boxes {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enemy-health {
  height: 100px;
  width: 225px;
  background-color: lightskyblue;
  margin-right: 15px;
  text-align: center;
}

#score-card {
  height: 100px;
  width: 75px;
  background-color: lightslategray;
  text-align: center;
}

.snake-images {
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.snake-score {
  height: 100px;
  width: 250px;
  background-color: lightseagreen;
  align-items: center;
  justify-content: center;
}
